#kaocha/v1 {:tests [{:id :unit
                     :test-paths ["test/clj"]
                     :src-paths  ["src/clj"]
                     :ns-patterns [".*"]}]
            :color? true
            :capture-output? true}
